meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Conceptos y enfoques de la agroecología
meta(meta name="description" content="Este componente introduce el concepto de agroecología en sus aspectos multidimensional, multifuncional y sistémico, abordando los elementos más importantes que la componen y su importancia para cumplir los objetivos de desarrollo del milenio. Por otro lado, describe los pilares de la agroecología: el manejo ecológico del suelo y la promoción de la biodiversidad del hábitat y las estrategias, prácticas y tecnologías para adaptarse y construir resiliencia frente al cambio climático.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")