h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Cód.– 1. Caracterizar los principales elementos de los agroecosistemas según los principios y normativa de la agroecología.



