.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Adaptación:
            | ajuste de los sistemas humanos o naturales frente a entornos nuevos o cambiantes. La adaptación al cambio climático se refiere a los ajustes en sistemas humanos o naturales como respuesta a estímulos climáticos proyectados o reales, o sus efectos, que pueden moderar el daño o aprovechar sus aspectos beneficiosos. Se pueden distinguir varios tipos de adaptación, entre ellas la preventiva y la reactiva, la pública y privada, o la autónoma y la planificada. (IPCC, 2001).

        p
            strong.mr-2 Agricultura campesina Familiar y Comunitaria (ACFC):
            | sistema de producción y organización gestionado y operado por mujeres, hombres, familias y comunidades campesinas, indígenas, negras, afrodescendientes, raizales y palenqueras que conviven en los territorios rurales del país. En este sistema se desarrollan principalmente actividades de producción, transformación y comercialización de bienes y servicios agrícolas, pecuarios, pesqueros, acuícolas y silvícolas; que suelen complementarse con actividades no agropecuarias. Esta diversificación de actividades y medios de vida se realiza predominantemente a través de la gestión y el trabajo familiar, asociativo o comunitario, aunque también puede emplearse mano de obra contratada. El territorio y los actores que gestionan este sistema están estrechamente vinculados y coevolucionan combinando funciones económicas, sociales, ecológicas, políticas y culturales. (Resolución 464 de 2017).
        p
            strong.mr-2 Agroecología:
            | es una disciplina científica, un conjunto de prácticas y un movimiento social. Como ciencia, estudia las interacciones ecológicas de los diferentes componentes del agroecosistema. Como conjunto de prácticas, busca sistemas agroalimentarios sostenibles que optimicen y estabilicen la producción y que se basen tanto en los conocimientos locales y tradicionales como en los de la ciencia moderna. Como movimiento social, impulsa la multifuncionalidad y sostenibilidad de la agricultura, promueve la justicia social, nutre la identidad y la cultura, y refuerza la viabilidad económica de las zonas rurales. (Resolución 464 de 2017).
        p
            strong.mr-2 Atmósfera:
            | cubierta gaseosa que rodea la tierra. La atmósfera seca está formada casi en su integridad por nitrógeno (78,1 por ciento de la proporción de mezcla de volumen) y por oxígeno (20,9 por ciento de la proporción de mezcla de volumen), junto con una serie de pequeñas cantidades de otros gases como argón (0,93 por ciento de la mezcla de volumen), el helio, y gases radiactivos de efecto invernadero como el dióxido de carbono (0,035 por ciento de la mezcla de volumen) y el ozono. Además, la atmósfera contiene vapor de agua, con una cantidad variable pero que es normalmente de un 1 por ciento del volumen de mezcla. La atmósfera también contiene nubes y aerosoles. (IPCC, 2001).
        p
            strong.mr-2 Cambio climático:
            | importante variación estadística en el estado medio del clima o en su variabilidad, que persiste durante un período prolongado (normalmente decenios o incluso más). El cambio climático se puede deber a procesos naturales internos o a cambios del forzamiento externo, o bien a cambios persistentes antropogénicos en la composición de la atmósfera o en el uso de las tierras. Se debe tener en cuenta que la Convención Marco de las Naciones Unidas sobre el Cambio Climático (CMCC), en su Artículo 1, define ‘cambio climático’ como: ‘un cambio de clima atribuido directa o indirectamente a la actividad humana que altera la composición de la atmósfera mundial y que se suma a la variabilidad natural del clima observada durante períodos 176 Cambio climático 2001 Informe de síntesis IPCC Tercer Informe de Evaluación de tiempo comparables’. La CMCC distingue entre ‘cambio climático’ atribuido a actividades humanas que alteran la composición atmosférica y ‘variabilidad climática’ atribuida a causas naturales. Véase también Variabilidad climática. (IPCC, 2001).

        p
            strong.mr-2 Cambio en el uso de las tierras:
            | un cambio en el uso o gestión de las tierras por los humanos, que puede llevar a un cambio en la cubierta de dichas tierras. La cubierta de las tierras y el cambio en el uso de las tierras pueden tener un impacto en el albedo, la evapotranspiración, y las fuentes y los sumideros de gases de efecto invernadero, u otras propiedades del sistema climático, y puede tener igualmente consecuencias en el clima, ya sea de manera local o mundial. Véase también el Informe Especial del IPCC: Informe Especial del IPCC: Uso de la tierra, cambio de uso de la tierra y silvicultura. (IPCC, 2001).

        p
            strong.mr-2 Deforestación:
            | conversión de bosques en zonas no boscosas. Para obtener más información sobre el término bosques y temas relacionados, como forestación, reforestación, y deforestación, véase el Informe Especial del IPCC: Uso de la tierra, cambio de uso de la tierra y silvicultura. (IPCC, 2001).

        p
            strong.mr-2 Desarrollorural con enfoque territorial:
            | es un proceso continuo de transformación, promoción y generación de las condiciones sociales, económicas, ambientales, culturales e institucionales necesarias para que el territorio rural y sus actores, tanto a nivel individual como colectivo, desplieguen sus capacidades y potencialidades a partir de una visión sistémica, holística, integral y compartida del aprovechamiento sostenible del potencial del territorio, para mejorar su productividad y contribuir al bienestar y buen vivir de los pobladores rurales. Como resultado de este proceso se debe llegar a corregir los desequilibrios regionales en niveles de desarrollo. (Resolución 464 de 2017).
        p
            strong.mr-2 Diálogo de saberes:
            | diálogo entre sujetos de conocimiento, donde se produce un aprendizaje mutuo, a través de la construcción social del conocimiento, el intercambio de ideas, creencias, nociones, conceptos, prácticas, deseos, vivencias y emociones que permite una comprensión común, aunque no igual, frente a uno o más asuntos. Los protagonistas tradicionales en el ámbito de los recursos naturales para la agricultura y la alimentación, son las comunidades locales o agricultores familiares y los miembros de la comunidad científico – técnica. (Resolución 464 de 2017).

        p
            strong.mr-2 Dióxido de carbono (CO2):
            | gas que se produce de forma natural y también como subproducto de la combustión de combustibles fósiles y biomasa, cambios en el uso de las tierras y otros procesos industriales. Es el principal gas de efecto invernadero antropogénico que afecta al equilibrio de radiación del planeta. Es el gas de referencia frente al que se miden otros gases de efecto invernadero y, por lo tanto, tiene un Potencial de calentamiento mundial de 1. (IPCC, 2001).

        p
            strong.mr-2 Diversidad biológica:
            | cantidad y abundancia relativa de diferentes familias (diversidad genética), especies y ecosistemas (comunidades) en una zona determinada. (IPCC, 2001).

        p
            strong.mr-2 Economía campesina, familiar y comunitaria:
            | sistema de producción, transformación, distribución, comercialización y consumo de bienes y servicios; organizado y gestionado por los hombres, mujeres, familias, y comunidades (campesinas, indígenas, negras, afrodescendientes, raizales y palenqueras) que conviven en los territorios rurales del país. Este sistema incluye las distintas formas organizativas y los diferentes medios de vida que emplean las familias y comunidades rurales para satisfacer sus necesidades, generar ingresos, y construir territorios; e involucra actividades sociales, culturales, ambientales, políticas y económicas. La economía campesina, familiar y comunitaria abarca una diversidad de estrategias productivas incluidas la agricultura, la ganadería, la pesca, la acuicultura, la silvicultura, el aprovechamiento de los 25 CEPAL (2014). Agricultura familiar y circuitos cortos. Nuevos esquemas de producción, comercialización y nutrición: Memoria del seminario sobre circuitos cortos realizado el 2 y 3 de septiembre de 2013. Series Seminarios y Conferencias 77. 56 bienes y servicios de la biodiversidad, el turismo rural, las artesanías, la minería artesanal, y otras actividades de comercio y servicios no vinculadas con la actividad agropecuaria. En este sistema predominan las relaciones de reciprocidad, cooperación y solidaridad, y el desarrollo de sus actividades se fundamenta en el trabajo y mano de obra de tipo familiar y comunitaria; y busca generar condiciones de bienestar y buen vivir para los habitantes y comunidades rurales. (Resolución 464 de 2017).
        p
            strong.mr-2 Equidad de género:
            | reconoce las diferencias entre hombres y mujeres para actuar con justicia en la distribución de oportunidades, bienes y/o servicios. Tiene en cuenta dos conceptos básicos: reconocimiento y redistribución. Es la fórmula y/o la metodología para alcanzar la igualdad de derechos y oportunidades para las mujeres. (Resolución 464 de 2017).
        p
            strong.mr-2 Enfoque territorial:
            | parte de una visión sistémica y holística de un territorio determinado, que permite potenciar las capacidades locales propiciando la participación y cooperación de los actores y el aprovechamiento de sus recursos, en un proceso que pueda lograr el ordenamiento, la productividad y la sostenibilidad del territorio. (Resolución 464 de 2017).

        p
            strong.mr-2 Óxido nitroso (N2O):
            | potente gas de efecto invernadero emitido con los usos de cultivos en tierras, especialmente el uso de fertilizadores comerciales y orgánicos, la combustión de combustibles fósiles, la producción de ácido nítrico, y la combustión de biomasa. Uno de los seis gases de efecto invernadero que se intentan reducir con el Protocolo de Kyoto. (IPCC, 2001).

        p
            strong.mr-2 Prácticas agroecológicas:
            | son una serie de técnicas y tecnologías aplicadas al diseño y manejo de sistemas agroalimentarios sostenibles, adoptando e integrando principios ecológicos con el fin de incrementar la productividad, la biodiversidad y la eficiencia energética, al tiempo que se disminuye la generación de residuos y la dependencia de insumos externos. Estas prácticas se basan en el diálogo de saberes, pero sobre todo en la experiencia, observación y conocimiento de los agricultores, y pueden emplearse a nivel de parcelas, fincas o paisajes. Entre las múltiples prácticas agroecológicas se destacan la rotación de cultivos, los policultivos, los cultivos de cobertura, los abonos verdes, las mezclas de cultivos y ganado, las barreras vivas, los arreglos agroforestales, los corredores, la labranza mínima, la alelopatía, y la elaboración de abonos, fungicidas e insecticidas orgánicos, entre otras. (Resolución 464 de 2017).

        p
            strong.mr-2 Revolución Industrial:
            | período de rápido crecimiento industrial con amplias consecuencias sociales y económicas, que comenzó en Inglaterra durante la segunda mitad del siglo XVIII y se extendió por Europa y más tarde a otros países incluidos los Estados Unidos. La invención de la máquina de vapor impulsó en gran medida este desarrollo. La Revolución Industrial marca el principio de un fuerte aumento en el uso de combustibles fósiles y de las emisiones, sobre todo, de dióxido de carbono fósil. En este informe, los términos ‘preindustrial’ e ‘industrial’ se refieren, de forma algo arbitraria, a los períodos antes y después del 1750, respectivamente. (IPCC, 2001).

        p
            strong.mr-2 Sistemas productivos sostenibles:
            | conjunto estructurado de actividades agropecuarias que un grupo humano organiza, dirige y realiza, en un tiempo y espacio determinados mediante prácticas y tecnologías que no degradan la capacidad productiva de los bienes naturales comunes. Tales actividades pueden ser propiamente productivas (cultivo, recolección, aprovechamiento, extracción, pastoreo) o de manejo (prevención, mantenimiento, restauración). Los sistemas productivos sostenibles producen alimentos seguros, saludables y de alta calidad; contribuyen a la mitigación y adaptación de los territorios al cambio climático; garantizan la viabilidad económica; prestan servicios ecosistémicos; gestionan las zonas rurales conservando la biodiversidad y la belleza paisajística; garantizan el bienestar de los animales; y contribuyen al bienestar y buen vivir. (Resolución 464 de 2017).
        p
            strong.mr-2 Territorio:
            | espacio geográfico en el que una persona, grupo de personas, institución o Estado ejercen control y dominio. En tanto producto social e histórico, el territorio puede ser de carácter urbano, rural, marítimo, insular o aéreo dotado de una determinada base de bienes naturales comunes, ciertas formas de producción, consumo e intercambio, así como bienes y servicios públicos y una red de instituciones y formas de organización que se encargan de darle cohesión a la totalidad de los elementos constitutivos. (Resolución 464 de 2017).
