include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Altieri, M. A. y Nicholls, C. I. (2000). Agroecología. Teoría y práctica para una agricultura sustentable. Programa de las Naciones Unidas para el Medio Ambiente", "")
        +referenciaItem("Altieri, M. A. y Nicholls, C. I. (2013). Agroecología y resiliencia al cambio climático: principios y consideraciones metodológicas. Agroecología, 8, 7-20.", "https://revistas.um.es/agroecologia/article/view/182921/152421 ")
        +referenciaItem("Altieri, M. A. y Nicholls, C. I. (2015). Cambio climático y agricultura campesina: impactos y respuestas adaptativas.", "http://agropecuaria.org/2015/12/cambio-climatico-y-agricultura-campesina-impactos-y-respuestas-adaptativas/ ")
        +referenciaItem("Bermejo, I. (2010). Agricultura y cambio climático. Ecologistas en acción.", "https://www.ecologistasenaccion.org/19945/agricultura-y-cambio-climatico/ ")
        +referenciaItem("Córdoba, C. A. (2019). Puntos clave de la resiliencia al cambio climático: un debate necesario desde los sistemas agroecológicos.", "https://doi.org/10.1080/17565529.2019.1664376 ")
        +referenciaItem("García, I. y Soler, M. (2011). Mujeres, agroecología y soberanía alimentaria en la comunidad Moreno Maia del Estado de Acre. Brasil. Universidad de Sevilla.", "")
        +referenciaItem("Global Carbon Budget. (2018). Earth System Science Data.", "https://essd.copernicus.org/articles/10/2141/2018/")
        +referenciaItem("Grupo de alto nivel de expertos en seguridad alimentaria y nutrición. (HLPE). (2019). Enfoques agroecológicos y otros enfoques innovadores en favor de la sostenibilidad de la agricultura y los sistemas alimentarios que mejoran la seguridad alimentaria y la nutrición. Informe 14: HLPE.", "")
        +referenciaItem("Grupo Intergubernamental de Expertos sobre el Cambio Climático (IPCC). (2001). Cambio climático. Glosario de términos.", "https://archive.ipcc.ch/pdf/glossary/tar-ipcc-terms-sp.pdf ")
        +referenciaItem("Hidalgo, J. A. y Acevedo, A. (2012). Efectos de la biodiversidad en el control biológico dentro de los agroecosistemas. Corporación Universitaria Minuto de Dios.", "")
        +referenciaItem("Ministerio de Agricultura y Desarrollo Rural de Colombia (MADR). (2012). Lineamientos estratégicos de política pública. Agricultura Campesina, Familiar y Comunitaria ACFC.", "https://drive.google.com/file/d/18pBA1ivMHOro4zmscPxsL8dG9UgzkY_0/view ")
        +referenciaItem("Ministerio de Agricultura y Desarrollo Rural de Colombia (MADR). (2017, 9 de diciembre). Resolución 464 de 2017.", "https://www.minagricultura.gov.co/Normatividad/Resoluciones/Resoluci%C3%B3n%20No%20000464%20de%202017.pdf")
        +referenciaItem("Murgueitio, E., Uribe, F., Molina, C., Molina, E., Galindo, W., Chará, J., Flores, M., Giraldo, C., Cuartas, C., Naranjo, J., Solarte, L. y González, J. (2016). Establecimiento y Manejo de Sistemas Silvopastoriles Intensivos con Leucaena. Editorial CIPAV.", "")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2002). Perspectivas para el medio ambiente.", "http://www.fao.org/3/y3557s/y3557s11.htm ")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2015a). Suelos sanos para una vida sana.", "http://www.fao.org/3/a-i4549s.pdf")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2015b). Suelos sanos para una vida sana.", "www.fao.org/soils-2015/news/news-detail/es/c/341996/")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2017a). Atlas de las mujeres rurales de América Latina y el Caribe.", "http://www.fao.org/3/a-i7916s.pdf")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2017b). Reflexiones sobre el sistema alimentario y perspectivas para alcanzar su sostenibilidad en América Latina y el Caribe.", "http://www.fao.org/3/a-i7053s.pdf ")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura. (FAO) (2018). Los 10 elementos para la agroecología. Guía para la transición hacia sistemas alimentarios y agrícolas sostenibles.", "http://www.fao.org/3/i9037es/i9037es.pdf")
        +referenciaItem("OXFAM. (2017). Radiografía de la desigualdad. Lo que nos dice el último censo agropecuario sobre la distribución de la tierra en Colombia.", "https://oi-files-d8-prod.s3.eu-west-2.amazonaws.com/s3fs-public/file_attachments/radiografia_de_la_desigualdad.pdf")
        +referenciaItem("Primavesi, A. y Molina, J. S. (1984). Manejo ecológico del suelo: la agricultura en regiones tropicales. Librería 'El Ateneo' Editorial.", "")
        +referenciaItem("Schmidt, M., Torn, M. S., Abiven, S., Dittmar, T., Guggenberger, G., Janssens, I. A., Kleber, M., Ko¨gel-Knabner, I., Lehmann, L., Manning, D., Nannipieri, P., Rasse, D. P., Weiner, S. & Trumbore, S. E. (2011). Persistence of soil organic matter as an ecosystem property. Nature, 478.", "")
        +referenciaItem("Tittonell, P. (2019). Las transiciones agroecológicas: múltiples escalas, niveles y desafíos. Revista de la facultad de ciencias agrarias, UNCUYO, 1-16.", "")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            