.container#page-tema-1

    .header-ecored
        h1 2. Prácticas, actores y resiliencia en la agroecología

    .jumbotron.bg-white 
        #tema-2_1
        .header-ecored
            h2 2.1 Agricultura campesina, familiar y comunitaria (ACFC)


        .row
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/hYYty2LSm5Q', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p 

        .row.justify-content.my-5 

            p Esta agricultura es de gran importancia para el país. El mapa permite una visualización espacial aproximada de las áreas donde hay presencia de agricultura familiar.

        .row.justify-content.my-5 

            p #[strong La ACFC enfrenta diferentes desafíos:]

        .row.justify-content-center.align-items-center.my-5    
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    li(data-target='#carouselExampleIndicators', data-slide-to='3')
                    li(data-target='#carouselExampleIndicators', data-slide-to='4')
                    li(data-target='#carouselExampleIndicators', data-slide-to='5')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='assets/images/pages/tema-2/imagen1-01.png', alt='0')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/tema-2/imagen1-02.png', alt='1')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/tema-2/imagen1-03.png', alt='2')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/tema-2/imagen1-04.png', alt='3')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/tema-2/imagen1-05.png', alt='4')  
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/tema-2/imagen1-06.png', alt='5')                          
                                                                                
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next 

    .jumbotron.bg-white 
        #tema-2_2
        .header-ecored
            h2 2.2 Papel de mujer rural, jóvenes y comunidades étnicas.

        .row.justify-content.my-5 

            p #[strong Mujer rural y agroecología]

        .row.justify-content.my-5 

            p El modelo productivista en la agricultura ha reforzado una división sexual del trabajo, en el que las labores orientadas a la generación de excedentes y al mercado, han quedado en manos de los hombres, y en las de las mujeres, las tareas de autoconsumo y las reproductivas asociadas a la economía del cuidado. La agroecología es una apuesta política para reformar ese modelo que es desigual desde varias perspectivas, entre estas, el relacionamiento de mujeres y hombres a partir del género, donde las mujeres rurales experimentan múltiples brechas relacionadas con el acceso a los activos rurales, información y conocimiento técnico, uso del tiempo, generación de ingresos, toma de decisiones en el intercambio pago o no pago de productos, y la participación en procesos comunitarios que son fundamentales en las dinámicas agroecológicas.


        .row
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/O5Cw3os6nSk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p 


        .row
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/gjrDteia8eY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p 


        .row
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SJRNKUIpjmw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p 

        .row.justify-content-center.align-items-center
            .col-12.col-md-4.my-5     
                img(src="assets/images/pages/tema-2/imagen2.jpg", alt="").img-fluid
            .col-12.col-md-5.my-5     
                p Respecto a la agroecología y género, es necesario operar con dos lógicas diferenciadas: la “naturalización” y la “desnaturalización”. Si en la agroecología estimulamos la “naturalización” de las prácticas agrícolas a través de la aplicación de los principios ecológicos a la agricultura, en el campo de las relaciones sociales de género, lo que se busca es la “desnaturalización” de atribuciones asignadas a lo femenino y a lo masculino. Por lo tanto, es importante destacar la coevolución entre la naturaleza y las relaciones sociales, de manera que permita la observación crítica y la experimentación en la relación de las personas con la naturaleza, pero también entre ellas mismas (FAO, 2017a).

                p La agroecología promueve iniciativas organizativas incluyentes y respetuosas de las mujeres rurales, contemplando su diversidad y la particularidad de sus necesidades y aportes, relevantes para la agricultura familiar, la seguridad y la soberanía alimentaria, y más allá, para los procesos de desarrollo rural territorial. Las prácticas agroecológicas tienen mejores bases para construir la igualdad de género, ya que combinan diferentes usos del espacio y el tiempo, y actividades productivas y reproductivas sin jerarquías (FAO, 2017b).


                p La participación activa y en condiciones de equidad de las mujeres, es un aspecto fundamental de los modelos alternativos de agricultura y del conjunto de procesos sociales, comunitarios, económicos, políticos y culturales que se relacionan con estos. Así mismo, las dinámicas de la agroecología favorecen el empoderamiento de las mujeres. No se puede repensar el modelo, sin repensar el papel de la mujer rural en el mismo.

        .header-arrow.my-5
            h3.text-center Comunidades étnicas

        .row.justify-content-center.align-items-center.my-10
            img(src="assets/images/pages/tema-2/imagen3.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p  Las comunidades étnicas indígenas y negras, han desarrollado una estrecha relación con la naturaleza y los procesos ecológicos, a través de años de observación y experimentación.

            p #[strong Las actividades agrícolas están enmarcadas en el conocimiento de los procesos ecológicos y en armonía con sus creencias espirituales]. Muchas comunidades emplean los #[strong ciclos lunares para definir épocas de siembra, fertilización y cosecha], emplean prácticas de conservación de semillas, las cuales guardan estrecha relación con sus costumbres alimentarias y todo esto está acompañado de rezos, cantos, pagamentos que hacen parte del mundo simbólico.

            p La agroecología propone el diálogo y reconocimiento con estos conocimientos tradicionales de las comunidades étnicas, sus sistemas alimentarios y su gestión del territorio.

        .row
        .col-12
            .quote.my-5
            .quote__bar
                .quote__bar__icon    
                    img(src="assets/images/icons/quote_01.svg", alt="")
                .quote__bar__hr      
            .quote__text
                p.mb-0 #[strong En el siguiente componente formativo se verán algunos ejemplos de las prácticas tradicionales que han demostrado su eficiencia para adaptarse al cambio climático.]   
            .quote__bar
                .quote__bar__hr 
                .quote__bar__icon
                    img(src="assets/images/icons/quote_02.svg", alt="")

        .row.justify-content.my-5 

            p  Los jóvenes también son actores importantes en la agroecología. Los procesos de desarraigo y migración del campo los afectan en particular a ellos, quienes se enfrentan además a la desvalorización de las labores agrícolas, la ruptura de las formas de organización social tradicional, el debilitamiento de las actividades agrícolas y la crisis de empleo.

            p La agroecología plantea la posibilidad de generar acciones colectivas, resignificar las labores del campo y proporcionar fuentes de trabajo dignas. La apertura de posibilidades a los jóvenes en el campo, facilita la continuidad de los procesos agroecológicos y permite potenciar su creatividad.

            p “La agroecología hace especial hincapié en los derechos de las mujeres, los jóvenes y las poblaciones indígenas” (FAO, 2018, p. 2).


        .row
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/JzKhi1z4Ptc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p 

    .jumbotron.bg-white 
        #tema-2_3
        .header-ecored
            h2 2.3 Resiliencia y adaptación al cambio climático

        .row.justify-content.my-5 

            h3 2.3.1 Causas del cambio climático

        .row.justify-content.my-5 

            p La agricultura convencional emplea abonos nitrogenados que son grandes emisores de NO2. Con la industrialización agrícola el empleo de fertilizantes y plaguicidas químicos se ha disparado, en China, el mayor consumidor del mundo de fertilizantes nitrogenados, casi la mitad del nitrógeno aplicado se pierde por volatilización y de un 5 a un 10 por ciento más por infiltración. Para el año 2030 podríamos tener un 60 % más amoniaco y metano provenientes del sector pecuario de los países en desarrollo. (FAO, 2002)

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-2/imagen18.png", alt="").img-fluid

        .row.justify-content.my-5 

            p  #[strong La ganadería industrial es la responsable del 35-40 % de las emisiones totales de metano]. De acuerdo a la FAO, la ganadería y los cultivos destinados a piensos generan 65 % de NO2.

        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6
                img(src="assets/images/pages/tema-2/imagen19.jpg", alt="").img-fluid
            .col-12.col-md-6
                img(src="assets/images/pages/tema-2/imagen20.jpg", alt="").img-fluid

        .row.justify-content.my-5 

            p Los cambios en el uso del suelo también son responsables de la emisión de gases. La destrucción de selvas para la producción de palma, soya o pastos, elimina la vegetación que es reservorio de carbono; según FAO, esto podría representar el 10 % de las emisiones (FAO, 2015).

        .row.justify-content.my-5 

            h3 2.3.2 Agroecología y resiliencia al cambio climático

        .row.justify-content

            p ¿Qué es la resiliencia? ¿En qué se diferencia con la adaptación?

            p Es la capacidad de recuperarse frente a una perturbación, reforzando las estructuras existentes, realizando cambios ligeros y localizados de forma incremental. Sin embargo, la resiliencia, mucho más allá de esta definición, incluye en su análisis #[strong aspectos de poder desigualdad, vinculadas al contexto político y económico]. En este sentido, el factor central de la resiliencia es la #[strong capacidad de transformación], donde puede involucrar todos los subsistemas, desarrollar no solo transformaciones técnicas, sino en los #[strong valores, paradigmas, estructuras y hasta regímenes políticos], planteando de esta forma cambios radicales.

            p Un agricultor o agricultora familiar podría #[strong potenciar su resiliencia al nivel de la finca], adoptando algunas prácticas de manejo agroecológico, pero al mismo tiempo, su resiliencia puede erosionarse cuando se consideran dinámicas en otros niveles, como el #[strong papel de los mercados], deficientes programas de capacitación o apoyo, #[strong limitadas políticas sociales], entre otros. De esta forma, un sistema no es resiliente solo si puede seguir produciendo alimentos, sino a través de acciones que hagan que todo el #[strong sistema agroalimentario sea más justo, equitativo y sostenible].

            p Muchas investigaciones y experiencias prácticas han mostrado que la agroecología plantea mejores opciones para enfrentar el cambio climático que la agricultura convencional, indicando mayor resiliencia, no solo en el aspecto agronómico, sino en la cohesión social, las adaptaciones tecnológicas y el reconocimiento cultural y simbólico.


            p Para ello, la agroecología plantea dos pilares fundamentales: el manejo ecológico del suelo y la promoción de la biodiversidad del hábitat. 

    .jumbotron.bg-white 
        #tema-2_4
        .header-ecored
            h2 2.4 Pilares de la agroecología 

        .row.justify-content.my-5 

            h3 2.4.1 Manejo ecológico del suelo

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-2/imagen4.jpg", alt="").img-fluid

        .row.justify-content.my-5 

            p Cuando se piensa en el suelo, las personas se imaginan una superficie sin vida. Sin embargo, en el suelo habitan miles de organismos de diferentes tamaños, muchos de los cuales no se pueden ver. Dentro de los microorganismos hay bacterias, hongos, algas y virus. También se encuentran organismos más grandes como lombrices de tierra, cucarrones, hormigas, arañas, tijeretas, ciempiés, entre otros.

            p Todos estos organismos cumplen diferentes funciones para proporcionar a las plantas los nutrientes necesarios para su crecimiento saludable. Un suelo sin esta microvida no sería fértil.

            p Por ejemplo, muchas bacterias fijan nitrógeno de la atmósfera y otras bacterias y hongos fósforo, ambos son necesarios para que la planta pueda producir proteínas. Los fijadores de nitrógeno producen hormonas de crecimiento para las plantas y el fósforo facilita la maduración de frutos y promueve el vigor de las plantas, ya que un suelo compacto no tiene fósforo.

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-2/imagen5.jpg", alt="").img-fluid

        .row.justify-content.my-5 

            p Las bacterias y hongos producen antibióticos que protegen a las plantas de patógenos que están en el suelo, de esta forma los organismos se regulan unos a otros. Todo esto facilita que se movilicen nutrientes hacia las raíces de las plantas y que estas sean capaces de retirar más agua. Para que los microorganismos proliferen es necesario que haya una buena cantidad de materia orgánica en el terreno. La materia orgánica proviene de los restos de organismos que alguna vez estuvieron vivos, plantas y animales.

        .row
            .col-12
                .quote.my-5
                .quote__bar
                    .quote__bar__icon    
                        img(src="assets/images/icons/quote_01.svg", alt="")
                    .quote__bar__hr      
                .quote__text
                    p.mb-0 #[strong Los principios de la agroecología tratan de imitar el funcionamiento de la naturaleza, esto significa propiciar las condiciones para el desarrollo de cadenas tróficas complejas, con alta diversidad de organismos que interactúan y cumplen diferentes funciones. Si hay alta actividad biológica y alto nivel de materia orgánica, los suelos serán más fértiles y sanos (Primavesi y Molina, 1984).]   
                .quote__bar
                    .quote__bar__hr 
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg", alt="")

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-2/imagen6.png", alt="").img-fluid

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-2/imagen7.png", alt="").img-fluid

        .row.justify-content.my-5 

            h3 2.4.2 Promoción de la biodiversidad del hábitat

        .row
            .col-12
                .quote.my-5
                .quote__bar
                    .quote__bar__icon    
                        img(src="assets/images/icons/quote_01.svg", alt="")
                    .quote__bar__hr      
                .quote__text
                    p.mb-0 #[strong Los monocultivos, ampliamente usados por la agricultura convencional, disminuyen la complejidad vegetal; al uniformizar las condiciones físicas, favorecen la invasión de insectos, que se ven obligados a alimentarse de la única oferta existente. Por otro lado, los enemigos naturales de plagas no encuentran fuentes diversas de alimentación o refugio. El aumento de insectos plaga, conduce a un mayor uso de plaguicidas, que no solamente impactan a plagas, sino a sus controladores biológicos, a polinizadores como las abejas, y contaminan las aguas. Pero además, tiene costos sociales como el envenenamiento de los productores, la contaminación de los alimentos y el consiguiente aumento de enfermedades (Hidalgo y Acevedo, 2012).]   
                .quote__bar
                    .quote__bar__hr 
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg", alt="")

        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6
                img(src="assets/images/pages/tema-2/imagen8.jpg", alt="").img-fluid
            .col-12.col-md-6
                img(src="assets/images/pages/tema-2/imagen9.jpg", alt="").img-fluid

        .row.justify-content.my-5 

            p La agroecología promueve el diseño de sistemas que establezcan diversidad dentro y alrededor de los cultivos, una diversidad funcional que provea hábitats y alimento, néctar y polen a los organismos benéficos. Esto se logra a partir de policultivos, sistemas agroforestales, rotaciones, cultivos de cobertura, etc. 

            p Los cultivos intercalados permiten a algunas especies vegetales camuflarse para evitar ser encontradas por herbívoros; por otro lado, algunas plantas aromáticas pueden repeler plagas. Los policultivos responden mejor a condiciones de sequía, con rendimientos más estables que los monocultivos.   

        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-4
                img(src="assets/images/pages/tema-2/imagen10.jpg", alt="").img-fluid
                p.text-center #[strong Umbelliferae]
            .col-12.col-md-4
                img(src="assets/images/pages/tema-2/imagen11.jpg", alt="").img-fluid
                p.text-center #[strong Leguminosae]
            .col-12.col-md-4
                img(src="assets/images/pages/tema-2/imagen12.jpg", alt="").img-fluid
                p.text-center #[strong Compositae]

        .row.justify-content.my-5 

            p Algunas especies de plantas de las familias Umbelliferae, Leguminosae y Compositae, hospedan y mantienen un conjunto de artrópodos benéficos que ayudan a eliminar poblaciones de plagas

            p Tener flores en las huertas favorece la abundancia de insectos depredadores y parasitoides. Los parasitoides insertan sus larvas en el cuerpo de otro artrópodo, y estas, al crecer, terminan matándolo. Un ejemplo son las avispas, que parasitan áfidos, o los dípteros (moscas) que parasitan grillos.

            p Los depredadores cazan a otros individuos, un ejemplo son las arañas, que se alimentan de trips, áfidos, moscas blancas, etc.

            p Ninguno de los dos es específico, por tanto, sirven para controlar una gran cantidad de plagas.

            p Un suelo cubierto evita las pérdidas de agua y favorece el establecimiento de organismos como los carábidos, que son depredadores de babosas.


        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-4
                img(src="assets/images/pages/tema-2/imagen13.jpg", alt="").img-fluid
                p.text-center #[strong Artrópodos]
            .col-12.col-md-4
                img(src="assets/images/pages/tema-2/imagen14.jpg", alt="").img-fluid
                p.text-center #[strong Avispas]
            .col-12.col-md-4
                img(src="assets/images/pages/tema-2/imagen15.jpg", alt="").img-fluid
                p.text-center #[strong Carábidos]

        .row.justify-content.my-5 

            p Los sistemas agroforestales son combinaciones de cultivos agrícolas, con cultivos agrícolas y/o pastos. Esto reduce la evapotranspiración del suelo y favorece el mantenimiento del agua; en el caso del café, reduce la infestación por broca, promueve la diversidad de especies y disminuye el uso de fertilizantes nitrogenados, aportando en la reducción de las emisiones de gases.

        .row
            .col-12
                .quote.my-5
                .quote__bar
                    .quote__bar__icon    
                        img(src="assets/images/icons/quote_01.svg", alt="")
                    .quote__bar__hr      
                .quote__text
                    p.mb-0 #[strong Los sistemas silvopastoriles integran árboles, forraje y pastos mejorados para el ganado. Esto mejora el microclima para actividades pecuarias y agrícolas, ya que las praderas protegen contra vientos y dan sombrío al ganado, disminuyendo su estrés, reducen el uso de alimentos concentrados, incrementa la productividad del hato, el reciclaje de nutrientes, la regulación hídrica y ayudan a la fijación de nitrógeno en el suelo (Murgueitio, Uribe, Molina, Molina, Galindo, Chará, Flores, Giraldo, Cuartas, Naranjo, Solarte y González, 2016).]   
                .quote__bar
                    .quote__bar__hr 
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg", alt="")

        .row.justify-content.my-5 

            p Las respuestas a estas estrategias son particulares a cada finca, por eso es necesario experimentar en cada caso y adoptar las que mejor se adapten al lugar. Esto hace más interesante la agroecología, que no obedece a recetas sino a observación y experimentación de las condiciones locales.

            p El inicio de la agricultura se dio en la Revolución del Neolítico, hace 10.000 años, luego apareció la Revolución Industrial, hace 200 años aproximadamente, caracterizada por el uso de insumos químicos, semillas mejoradas, uso intensivo de maquinaria y mayor producción, y finalmente, con la aparición de los organismos genéticamente modificados, hace unos 36 años. Eso significa que fuimos agricultores tradicionales por cerca de 9930 años, en los cuales diferentes comunidades desarrollaron técnicas muy eficaces para adaptarse al cambio climático.

        .row.justify-content-center.align-items-center.my-5
            img(src="assets/images/pages/tema-2/imagen16.png", alt="").img-fluid

        .row.justify-content.my-5 

            h3 2.4.3 Sistemas tradicionales

        .row.justify-content.my-5 
            p #[strong Waru waru hidráulica inca]

        .row
            .col-12
                .quote.my-5
                .quote__bar
                    .quote__bar__icon    
                        img(src="assets/images/icons/quote_01.svg", alt="")
                    .quote__bar__hr      
                .quote__text
                    p.mb-0 #[strong Fueron usados en tiempos precolombinos, también se conocen como camellones, se usaban en áreas inundables, acumulando tierra en camas donde se sembraba y estaban rodeadas de agua. Los sedimentos son ricos en nutrientes para los cultivos, el agua se infiltra, disminuyendo la necesidad de riego y además genera un microclima que protege de las heladas (Altieri y Nicholls, 2000).]   
                .quote__bar
                    .quote__bar__hr 
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg", alt="")

        .row.justify-content.my-5 
            p De forma similar funcionan los sistemas hidráulicos de los Zenúes, en el caribe colombiano, quienes, a través de una red de canales y camellones elevados, estabilizan el curso de los ríos, reservan humedad en tiempos de sequía y emplean los sedimentos como fertilizante.

        .row
            .col-12
                .quote.my-5
                .quote__bar
                    .quote__bar__icon    
                        img(src="assets/images/icons/quote_01.svg", alt="")
                    .quote__bar__hr      
                .quote__text
                    p.mb-0 #[strong Por otro lado, en lugares con problemas de sequía se tienen los Zai, que es un sistema de hoyos cavados en un suelo de roca dura, que son llenados con materia orgánica, esto atrae a las termitas, quienes se encargan de dar estructura al suelo para permitir el cultivo de mijo o sorgo. Se emplea en África occidental (Altieri y Nicholls, 2000).]   
                .quote__bar
                    .quote__bar__hr 
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg", alt="")

        .row.justify-content.my-5 
            p Para aumentar la resiliencia en sistemas agroalimentarios, es importante el reconocimiento de las culturas locales, las percepciones y el conocimiento tradicional de los grupos étnicos, así como el reconocimiento de los valores sociales: la confianza, las redes, la cooperación.

            p Adicionalmente, es necesario que los agricultores y agricultoras familiares tengan acceso a recursos naturales y voz en los procesos de política relevantes, participación y deliberación, así como la conexión entre las instituciones del gobierno y las comunidades.


        .row.justify-content-center.align-items-center.my-5
            img(src="assets/images/pages/tema-2/imagen17.svg", alt="").img-fluid

    .jumbotron.bg-white
        #tema-2_5
        .header-ecored
            h2 2.5 Transición energética, manejo de aguas y residuos sólidos

        .row.justify-content.my-5 

            p Las #[strong ecotecnologías] surgen de innovaciones sociales que buscan ser accesibles, amigables y apropiados con contextos locales y ser tecnologías limpias. 
            
            p Dentro de ellas están las #[strong cosechas de agua:] sirven para recolectar el agua lluvia y usarla en épocas donde escasea, hay de diferentes tamaños y capacidades, desde barriles, la instalación de canales para recolectar agua de los techos y sistemas de colecta de mayor capacidad.
            
            p El saneamiento básico alternativo a partir del uso de #[strong baños secos] que no consumen agua, funcionan cubriendo las heces con material orgánico seco, que luego puede degradarse por fermentación o desecación. Es un sistema muy utilizado para el ahorro de agua.
            
            p El empleo de #[strong paneles aerogeneradores o solares], sirven para producir energía a partir de del sol y el viento, se pueden emplear combinados y garantizan el suministro de energía. 
            
            p Para mejorar el flujo de nutrientes se emplean #[strong biodigestores], los cuales están llenos de materia orgánica o excrementos de rumiantes o aves que al fermentarse producen gas metano, útil para la preparación de alimentos y como subproducto se produce abono.
            
            p Las #[strong fajinas o biorrollos] se emplean para evitar la erosión y ecorrentía y proteger orillas de cauces de ríos. Son estructuras cilíndricas de fibra de coco y material orgánico, sobre las cuales pueden plantarse semillas.
            
            p Para el manejo aguas residuales se podrían emplear #[strong biofiltros], que son dispositivos que mediante procesos biológicos eliminan contaminantes del agua.
            
