include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Implementación de Procesos para la Transición Agroecológica
        meta(meta name="description" content="Ruta de aprendizaje programa Implementación de Procesos para la Transición Agroecológica.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Implementación de Procesos para la Transición Agroecológica
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Implementación de Procesos para la Transición Agroecológica
                                        li 
                                            span #[strong Código:] 72310000 
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] ninguno.

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yAttOSxoYdc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Los enormes desafíos que plantea el desarrollo sostenible, tales como la erradicación de la pobreza, el hambre cero, la gestión sostenible de los recursos naturales y la equidad de género, entre otras, exigen fuertes transformaciones en muchos ámbitos. Los sistemas agroalimentarios predominantes están relacionados con la degradación medio ambiental, la pérdida de servicios ecosistémicos, disminución de la seguridad alimentaria y el aumento de las desigualdades socio económicas (IPES-Food, 2018:9).

                p En este contexto, tanto el Grupo de Alto Nivel de Expertos en Seguridad Alimentaria y Nutrición (HLPE, 2016; HLPE, 2017), como la FAO (2017), han resaltado la necesidad de transformar los sistemas agroalimentarios y han identificado a la agroecología como un enfoque que favorece la transición hacia sistemas agroalimentarios más sostenibles, eficientes, inclusivos y resilientes (FAO 2018a, 2018b; HLPE, 2019).

                p El tránsito hacia la agroecología implica múltiples transiciones: una transición técnico-productiva a nivel de los subsistemas de la explotación; una transición socio-ecológica a nivel de la familia rural, su comunidad y su paisaje; y una transición político-institucional a nivel de territorios, regiones y países (Tittonell, 2019).

                p Por tal motivo, el Servicio Nacional de Aprendizaje SENA y la Organización de las Naciones Unidas para la Alimentación y la Agricultura FAO, presentan este programa integral sobre transiciones agroecológicas, que permitirá liderar estos procesos de forma participativa en las diferentes regiones del país, con un enfoque territorial, de género, sostenibilidad y de adaptación al cambio climático. Este programa complementario permite la formación, capacitación y sensibilización de temas como: 1) Enfoques y conceptos de la agroecología, 2) Prácticas, actores y resiliencia agroecológica; 3) Masificación, extensión y mercados; 4) Indicadores y herramientas para las transiciones.

                p ¡Bienvenidas y bienvenidos aprendices!


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El desarrollo de la agricultura convencional ha estado asociado a la pérdida de biodiversidad, deforestación, degradación de suelos, contaminación y pérdida de fuentes de agua, y al calentamiento global. Mientras que la agroecología ofrece alternativas holísticas para la transformación de los sistemas agroalimentarios (Altieri & Rosset, 2018), el enfoque agroecológico incluye: la combinación de conocimientos locales y tradicionales con los científicos; el reconocimiento de la agricultura familiar, campesina y comunitaria; el fortalecimiento de los medios de vida de pequeños productores(as) y grupos étnicos; la articulación con procesos sociales y con políticas públicas; la consolidación de las organizaciones de productores; así como el acceso a mercados, principalmente locales y regionales, para alcanzar la sostenibilidad en sus tres dimensiones: social, económica y ambiental (FAO, 2018; Nicholls & Altieri, 2019).

                p La agricultura familiar produce el 80% de los alimentos del mundo, también se le reconoce como una aliada fundamental para impulsar el desarrollo sostenible, eliminar el hambre, la obesidad y todas las formas de malnutrición. Los agricultores familiares proporcionan alimentos sanos, diversificados y culturalmente apropiados y producen la mayor parte de los alimentos, tanto en los países en desarrollo como en los desarrollados. Generan oportunidades de empleo agrícola y no agrícola y ayudan a las economías rurales a crecer. Asimismo, la agricultura familiar preserva y restaura la biodiversidad y los ecosistemas y utiliza métodos de producción que pueden ayudar a reducir o evitar los riesgos del cambio climático. Garantizan el traspaso de conocimientos y tradiciones de una generación a otra y promueven la equidad social y el bienestar de la comunidad (FAO, 2017).

                p Por tanto, facilitar el acceso público de la información sobre conocimientos y herramientas que favorezcan la transición en cuanto a las tecnologías productivas apropiadas, así como las estrategias colectivas de organización para la toma de decisiones y la conformación de redes que soporten la agroecología, ampliará las posibilidades de lograr equilibrio entre la producción y la sostenibilidad y contribuirá a la resiliencia de los agroecosistemas y los sistemas agroalimentarios (Acevedo & Angarita, 2019).

                p Por lo anterior, este programa virtual involucra la experiencia de actores locales, facilita la transformación de procesos en la agricultura y aporta al desarrollo agropecuario integral, al considerar las múltiples dimensiones de los sistemas agroalimentarios, tanto rurales como urbanos y periurbanos. Los objetivos son:

                ul
                    li Realizar un acercamiento conceptual de la agroecología, en el marco de la Agricultura Campesina, Familiar y Comunitaria (ACFC).

                    li Fortalecer capacidades técnicas de los/as participantes para entender e incorporar el enfoque agroecológico en procesos de formulación e implementación de políticas y proyectos de desarrollo rural.

                    li Entender las potencialidades que ofrece la agroecología para transitar a sistemas agroalimentarios justos y sostenibles.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Este programa está dirigido a agricultores familiares de zonas rurales, periurbanas y urbanas, estudiantes, técnicos, profesionales, autoridades locales, regionales y nacionales, relacionados con desarrollo rural, agroecología y sistemas agroalimentarios, interesados en adquirir conocimientos y habilidades en principios de agroecología y herramientas e instrumentos para la transición agroecológica.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación, en el marco de la formación por competencias, el aprendizaje basado en proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en el utilización de las tecnologías de la información y la comunicación, integradas en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Durante el curso, los estudiantes se basarán en un estudio de caso u otras estrategias didácticas que permitan aplicar los principios, conceptos y metodologías vistas, para plantear estrategias concretas para la transición agroecológica de los sistemas agroalimentarios.

                p Se estimulará la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro (4) fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





