include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Ruta de aprendizaje
        meta(meta name="description" content="Ruta de aprendizaje programa Implementación de Procesos para la Transición Agroecológica.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Implementación de Procesos para la Transición Agroecológica
                                h1.curso-titulo Ruta de aprendizaje

                                .brand-line-primary

                                p.curso-descripcion A continuación se presentan las actividades de aprendizaje que debe realizar el aprendiz durante el proceso formativo, estableciendo los tiempos, recursos educativos y evidencias que le permitirán  cumplir con los resultados de aprendizaje definidos para el programa de formación <strong>Evaluador de compentencias laborales en el área técnica de su dominio</strong>.
                    

                            .col-12.col-lg-6
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_ruta.svg")           

        section#ruta.curso-resultados.section.bg-base-light.container

            .subtitulo-guion.my-4
                h2 Guía de aprendizaje 1 <br><small class="text-muted letter-spacing-1x font-weight-bold">Duración: 48 horas</small>

            .timeline__wrapper.jumbotron.py-3.px-5

                section#timeline
                    .timeline__item.br--bottom   
                        img(src="assets/images/ruta/inicio.svg", alt="")            
                        p Inicio              
                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 01
                                .title-box #[strong Actividad de aprendizaje:] Identificar los procesos de los agroecosistemas, teniendo en cuenta normatividad y prácticas agroecológicas.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    
                                    p Caracterizar los principales elementos de los agroecosistemas según los principios y normativa de la agroecología.
                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Conceptos y enfoques de la agroecología. 
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                    
                                    p AA1-EV01 - Mapa mental sobre los principios de la agroecología y sus transiciones. 

                                    p AA1-EV02 - Informe ilustrado sobre las estrategias agroecológicas para la ACFC. 

                                    p AA1-EV03 - Video o galería fotográfica sobre la germinación de tomate bajo diferentes tipos de tratamiento. 

                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 02
                                .title-box #[strong Actividad de aprendizaje:] Establecer acciones para la transición de los sistemas alimentarios, teniendo en cuenta el enfoque agroecológico.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    
                                    p Proponer acciones para el tránsito hacia sistemas agroalimentarios según el enfoque agroecológico.

                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Procesos, indicadores y herramientas para las transiciones.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                    
                                    p AA2-EV01 - Presentación del plan de transición agroecológica.                                        

                    .timeline__item.br--top                
                        img(src="assets/images/ruta/certificacion.svg", alt="")    
                        p Certificación        
                    

        +creditosFooter("assets/images/logos/senaLogo.svg")


        script(src="assets/js/vendor.js")
        script(src="assets/js/global.js")        
        script(src="assets/js/pages.js")





